*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  /* font-family: 'Josefin Sans', sans-serif;
  font-family: 'Kalnia', serif;
  font-family: 'Poppins', sans-serif; */
}
body{
  background: #111;
}
.wrapper{
  width: 100%;
  height: 15vh;
  background:#111:
}
.logo{
  color: #fff;
  margin-left: 19px;
  margin-top: 12px;
  cursor: pointer;
  
}
.logo:hover{
  transform: scale(1.2);
  transition: .5s;
  
}
span{
  color: #00B894;
}
.menu a{
  color: #fff;
  margin: 12px 10px 0 0 ;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  padding: 0 8px 0 4px;
  text-transform: uppercase;
}


nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .btn{
  padding: 4px 40px;
  margin: 10px 17px 0 8px;
  background: transparent;
  outline: none;
  border: none;
  background:#00B894;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bolder;
  /* text-shadow: 1px 1px 1px #111; */
}
.wrapper .btn:hover{
  transform: scale(1.2);
  transition: .5s;
  
}
.menu a::before{
  position: absolute;
  content: "";
  width:0;
  height: 2px;
  top: 100%;
  left: 0;
  background: #00B894;
  transition: .3s;
}
.menu a:hover:before{
  width: 89%;
  transition: .5s linear;
}
.menu a {
    display: inline-block;
}

.menu a:hover {
    -webkit-transform: scale(1.2); 
    transform: scale(1.2);
    transition: 0.5s;
    color: #00B894;
    cursor: pointer;
}
.seperation{
  height: 2px;
  background: #fff;
  width: 100%;
  margin-top: 30px;
}


